{{ if ne .Params.TalkType "sponsor_session"}}
<a href="{{ .Permalink }}">
	<h4 title="{{ .Title }}">
		{{ .Title }}
	</h4>

	<hr>

	{{ if .Params.speakers }}
	<ul class="speakers {{ if eq 1 (len .Params.speakers) }}single{{ else }}multi{{ end }}">
		{{ range where $.Site.RegularPages "Params.key" "in" .Params.speakers }}
		<li class="speaker">
			<div class="speaker-img" style="background-image: url({{ .Params.photoURL }});"></div>
			<strong class="speaker-name">{{ .Params.name }}</strong>
<!--			<div class="speaker-company">{{ .Params.company }}</div>-->
		</li>
		{{ end }}
	</ul>
	{{ end }}

    {{ if .Params.tags }}
    <div class="tags-holder">
	    <div class="tags">
	        {{ range .Params.tags }}
	        {{ range first 1 (where $.Site.Data.categories "key" .) }}
	        <span>{{ .name }}</span>
	        {{ end }}
	        {{ end }}
	    </div>
    </div>
	{{ end }}
</a>
{{else}}
{{$partner := index (where (where .Site.Pages "Params.category" "in" "wi-fi,party,scholarship,coffee,water,treat,battery,tofu on fire") ".Params.key" .Params.partner) 0}}

<a href="{{ $partner.Permalink }}">
	<h4 title="{{ .Title }}">
		{{ .Title }}
	</h4>

	<hr>


	<div class="partner-img" style="background-image: url({{ $partner.Params.logo }});"></div>

    <!--
	<ul class="speakers single">
		<li class="speaker">
			<strong class="speaker-name">{{ $partner.Title }}</strong>
		</li>
	</ul>
    -->

	{{ if .Params.tags }}
    <div class="tags-holder">
    	<div class="tags">
    		{{ range .Params.tags }}
    		{{ range first 1 (where $.Site.Data.categories "key" .) }}
    		<span>{{ .name }}</span>
    		{{ end }}
    		{{ end }}
    	</div>
	</div>
	{{ end }}

</a>

{{end}}
